@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Inter Font */

/* poppins font styles */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* poppins font style End */
/* Inter font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
header {
    max-width: 1140px;
    margin: 0 auto;
}
.btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 24px;
    align-items: center;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    cursor: pointer;
}
.btn-primary i {
    font-size: 1.3rem;
    font-weight: 600;
} 
/* shared style End */

/* navbar style */
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
}
.brand-name a {
    text-decoration: none;
    color: #3A3A3A;
}
.nav-items ul {
    display: flex;
    align-items: center;   
}
.nav-items-link ul li {
    list-style: none;
}
.nav-items-link ul a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
}
.nav-items-link ul i {
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
/* navbar style End */

/* banner style */
header {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 475px;
  background-position:  right bottom;
  
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 100px;
}
.banner-info {
    width: 582px;
}
.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-description {
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3A;
}
.banner-image img {
  width: 95%;
  margin-right: 30px;  
}
/* banner style End */

/* media query styles for x-small devices */
@media screen and (max-width:576px) {
  .nav-items,
  .nav-items ul {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    width: auto;
  }
  .banner-info {
    width: auto;
    text-align: center;
  }  
  header {
    background-size: 100%;
    background-position: top 410px center;
  }
 
}
/* media query styles for x-small devices End */