@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Inter Font */

/* poppins font styles */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* poppins font style End */
/* Inter font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.primary-width {
  max-width: 1140px;
  margin: 0 auto;
}
header {
    max-width: 1140px;
    margin: 0 auto;
}
.footer-bg {
  background-color: #0A0826;
  background-size: cover;
}
.btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 24px;
    align-items: center;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    cursor: pointer;
}
.btn-primary i {
    font-size: 1.3rem;
    font-weight: 600;
} 
/* shared style End */

/* navbar style */
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
}
.brand-name a {
    text-decoration: none;
    color: #3A3A3A;
}
.nav-items ul {
    display: flex;
    align-items: center;   
}
.nav-items-link ul li {
    list-style: none;
}
.nav-items-link ul a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
}
.nav-items-link ul i {
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
/* navbar style End */

/* banner style */
header {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 475px;
  background-position:  right bottom;
  
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 100px;
}
.banner-info {
    width: 582px;
}
.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-description {
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3A;
}
.banner-image img {
  width: 95%;
  margin-right: 30px;  
}
/* banner style End */

/* brands logo styles */
.brands {
  width: 1110px;
  height: 110px;
  margin: 0 auto;
  border-top: 3px solid #afafaf;
  border-bottom: 3px solid #afafaf;
  align-content: center;
}
.brands-logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  }
/* brands logo styles End */

/* popular collection section style */

.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  max-width: 1047px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.polular-collection-title {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}
.collection-card {
  width: 329px;
  height: 476px; 
  padding: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.15);
}
.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  color: rgba(24, 25, 31, 1);
  margin-top: 10px;
  margin-bottom: 0;
}
.card-price {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  margin: 0;
  margin-top: 6px;
}
.collection-card img {
  width: 100%;
  border-radius: 5px;
}
.card-ratings {
  margin: 0;
}
.card-ratings i {
  color: #FB8200;
  margin: 0;  
}
.ratings-num {
  font-size: 0.87rem;
  font-weight: 700;
  color: rgba(94, 99, 102, 1);
}
.card-description {
  font-family: "Inter", sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
  letter-spacing: 1.8%;
  line-height: 143%;
  color: rgba(120, 120, 133, 1);
}
.see-more-text {
  display: flex;
  justify-content: right;
  
}
.see-more a {
  display: flex;
  font-weight: 700;
  color: #E02C6D;
  text-decoration: none;
  align-items: center;  
}
.see-more a i {
  font-size: 1.2rem;
  font-weight: 700;
}
/* popular collection section style End */

/* featured section styles */
.featred-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}
.featured-info {
  width: 610px;
}
.featured-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0A0826;
}
.featured-description {
  width: 501px;
  font-weight: 700;
  line-height: 28px;
  color: #6C6C6C;
}
#btn-2 {
  border-radius: 0px;
}
/* featured section styles End */

/* footer section styles */
    .footer {
        background-color:#0A0826;
        padding: 40px 0;
        color: white;
    }
    .footer-info {
      align-items: center;
      text-align: center;
    }
    
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;        
    }
    
    .footer-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .footer-description {
      text-align: center;
        margin: 0 auto 20px auto;
        line-height: 1.6;
        max-width: 500px;
    }
    
    .social-icons {
        display: flex;
        gap: 30px;
        justify-self: center;
        font-size: 1.8rem;
    }
    .social-icons a {
        cursor: pointer;
    }
/* footer section styles */

/* media query styles for x-small devices */
@media screen and (max-width:576px) {
  .nav-items,
  .nav-items ul,
  .featred-container {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    width: auto;
  }
  .banner-info {
    width: auto;
    text-align: center;
  }  
  header {
    background-size: 100%;
    background-position: top 410px center;
  }
  .brands {
    width: auto;
    height: auto;
    gap: 20px;
  }
  .brands-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  row-gap: 20px;
  place-items: center;
  justify-items: center;
  }
  .popular-collection {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .featred-container img {
    text-align: center;
  }
  .featured-info, .featured-description {
    width: auto;
    margin: 10px;
  }
 
}
/* media query styles for x-small devices End */